/* Add your own CSS code below */
@media (min-width: 992px) {
  .hero-title {
    font-size: 2.5rem;
  }
}
.site-header {
  display: flex; /* Make the header a flex container */
  justify-content: space-between; /* Space the header elements evenly */
  align-items: center; /* Align items vertically */
}

.main-nav {
  display: flex; /* Make the navigation a flex container */
}

.main-nav__list {
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
  display: flex; /* Make the list items display inline-flex */
}

.main-nav__list-item {
  margin-right: 20px; /* Add spacing between list items */
}
@media (min-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  views {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .views a {
    margin-right: 1rem;
  }

  .view-all {
    margin-left: auto;
  }
}
.article {
  max-width: 50em;
  margin: 0 auto;
  line-height: 1.8; /* Adjust line spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}
